.wrapper {
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
}
body {
  background-image:url("pattern.png");
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-portion {
  font-family: 'Open Sans';
}
.page-header {
  background:grey;
  color:white;
  padding:10px;
}
.login-box {
  padding:10px;
  padding-left:10px;
  padding-right:10px;
}